[Unit]
Description=Weather LED Web Interface
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/matt
ExecStart=/home/matt/weatherled-venv/bin/python /home/matt/weather_web.py
Restart=always
RestartSec=10
StandardOutput=append:/home/matt/weather_web.log
StandardError=append:/home/matt/weather_web.log
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
